@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff;
  --bg-color-2: #e4c7c7b0;
  --primary-color: #ffffff;
  --secondary-color: #000;
  --text-color: #000;
  --text-color-2: #ffffff71;
  --text-color-3: rgb(204, 0, 0);
  --overlay-color: rgba(255, 255, 255, 0.386);
}

[data-theme="light"] {
  --bg-color: #0c0c0c;
  --bg-color-2: #3834349d;
  --primary-color: #0d0d0d;
  --secondary-color: #fff;
  --text-color: #fff;
  --text-color-2: #40404090;
  --text-color-3: rgb(204, 0, 0);
  --overlay-color: rgba(0, 0, 0, 0.42);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "PT Sans Narrow", sans-serif;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 60px;
  /* border-left: 10px solid var(--primary-color); */
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: var(--text-color-2);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color-2);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-color-3);
}
